body{
	background-color:#7191C1;
	
}

.horizontal_entete{
	border:2px solid #FFF;
	height: 150px;
	font-size:80px;
	color:#FFF;
	text-align:center;
}

.vertical_menu{
	margin-top:8px;
	border:2px solid #FFF;
	color:#FFF;
	width: 200px;
	height: 650px;
	font-size:30px;
	text-align:center;
}

.vertical_menu a {
	color:#FFF;
	font-size:20px;
	display:block;
	padding:12px;
	text-decoration:none;
	text-align:left;
}

.vertical_menu a.active {
	color: #B0C0C0;
}

#menu{
	width:200px;
	display: inline-block;
}

#titre_accueil{
	color:#FFF;
	font-size:50px;
	text-align:center;
	
}

#texte_accueil{
	color:#FFF;
	font-size:35px;
	text-align:center;
	
}

#accueil{
	position : absolute;
	width:75%;
	margin-left:auto;
	margin-right:auto;
	display: inline-block;
}

#titre_categories{
	color:#FFF;
	font-size:20px;
	text-align:center;
	
}



#categories{
	position : absolute;
	width:20%;
	margin-left:10px;
	margin-right:auto;
	display: inline-block;
	vertical-align:middle;
}

.text_categories{
}


#categories a{
	text-align:left;
	text-decoration:none;
}

.image_categories{
	vertical-align:middle;
	margin-left:15px;
	margin-right:25px;
	witdh:25px;
	height:25px;
}

#contenuCategories{
	position: relative;
	width:50%;
	margin-left:150px;
	display: inline-block;
	vertical-align:middle;
}

#item-produits{
	
}


